.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container1 {
  width: 100%;
  height: 100vh;
  background-color: #aa4444;
  font-family: Madimi One, sans-serif;

  .hor__nav {
    position: absolute;
    width: 100vw;
    box-shadow: 0 0 10px #000;
    background-color: #fff;
    .hor__navlist {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      margin: 0 2rem;

      //   &logo {
      //     list-style: none;
      //     margin-right: auto;
      //     cursor: pointer;
      //     svg {
      //       width: 2rem;
      //       height: auto;
      //       transition: fill 150ms ease-in;
      //       &:hover,
      //       &:focus {
      //         fill: gainsboro;
      //       }
      //     }
      //   }
      .nav__listitem {
        list-style: none;
        font-weight: bold;
        position: relative;
        padding: 1.5rem 1rem;
        cursor: pointer;
        &::after {
          content: "";
          width: 0;
          height: 0.15rem;
          border-radius: 0.2em;
          position: absolute;
          left: 1rem;
          bottom: 0.8rem;
          background-color: #aa4444;
          transition: width 200ms ease-in;
        }
        &:hover::after,
        &:focus::after {
          width: 80%;
        }
        &:hover ul,
        &:focus ul {
          opacity: 1;
          visibility: visible;
        }
        .nav__listitemdrop {
          position: absolute;
          top: 4rem;
          left: -1rem;
          box-shadow: 0 0 10px gainsboro;
          background-color: #fff;
          border-radius: 0.2em;
          width: 12rem;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          opacity: 0;
          visibility: hidden;
          transition: opacity 200ms ease-in-out;
          li {
            list-style: none;
            padding: 0.5rem;
            border-radius: 0.2em;
            transition: background-color 200ms ease-in-out;
            &:hover,
            &:focus {
              background-color: #aa4444;
            }
          }
        }
      }
    }
  }

  .content {
    background-color: #aa4444;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

    h1 {
      padding-top: 100px;
      color: #000;
    }
  }
}

.container2 {
  width: 100%;
  height: 100vh;
  background-color: #b3a470;
  font-family: Madimi One, sans-serif;

  .vert__nav {
    list-style-type: none;
    width: 15%;
    background-color: #b4afa4;
    position: absolute;
    height: 100vh;

    ul {
      margin-top: 20px;
    }

    li {
      display: block;
      color: #fff;
      padding: 8px 16px;
      text-decoration: none;
      text-align: center;
    }
    li:hover {
      cursor: pointer;
      background-color: #b3a470;
      color: #000;
    }
  }

  .content {
    width: 85%;
    height: 100vh;
    margin-left: 15%;
    background-color: #b3a470;
    display: flex;
    justify-content: center;

    h1 {
      margin-top: 25px;
    }
  }
}
