* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// css starts here

nav {

  width: 100%;
  height: 128px;
  
  ul {
    list-style: none;
    // position: absolute;
    top: 0;
    display: flex;
    li {
      height: 128px;
      width: 128px;
      // display: block;
      background-color: red;
    }
    li#facebook {
      background-image: url(../images/socials-gray.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      // cursor: pointer;
      // transition: 250ms linear;
    }
    li#facebook:hover {
      background-image: url(../images/socials-color.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      cursor: pointer;
      // transition: 250ms;
      
    }
    li#instagram {
      background-image: url(../images/socials-gray.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -128px 0;
    }
    li#instagram:hover {
      background-image: url(../images/socials-color.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -128px 0;
      cursor: pointer;
      // transition: 250ms linear;
    }
    li#github {
      background-image: url(../images/socials-gray.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -256px 0;
    }
    li#github:hover {
      background-image: url(../images/socials-color.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -256px 0;
      cursor: pointer;
      // transition: 250ms linear;
    }
    li#linkedin {
      background-image: url(../images/socials-gray.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -384px 0;
    }
    li#linkedin:hover {
      background-image: url(../images/socials-color.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -384px 0;
      cursor: pointer;
      // transition: all 250ms linear;
    }


  }
}

#container {
  width: 100%;
  height: calc(100vh - 128px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.2);
//   background: url(../images/0001.png) no-repeat;
//   background-size: cover;
// background-color: #000;
// background-image: linear-gradient(white, black, red);

  section {
    // background-image: url(../images/complex.svg), url(../images/sky-blue.svg);
    // background-position: right bottom, left top;
    // background-repeat: no-repeat, repeat;
    // height: 50%;
    // width: 33.33%;
    // height: 33.33%;
    padding: 2em 10em;
    

    p {
        font-family: "Montserrat", sans-serif;
        color: red;
        line-height: 2em;
        background: #fff;
        opacity: 80%;
        padding: 4em;
        border: 10em solid transparent;
        background-image: url("../images/0002.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: border-box;
    }
  }

}


//   font-family: "Montserrat", sans-serif;
//   font-family: "Orbitron", sans-serif;
