* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: #9d9d9d;
  display: flex;
  justify-content: center;
  align-items: center;

  h1#spacing {
    text-transform: uppercase;
    // letter-spacing: 1.2em;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

// //Fonts to be used
// ANTA
// .anta-regular {
//     font-family: "Anta", sans-serif;
//     font-weight: 400;
//     font-style: normal;
//   }
